.hero{
    height:80vh;
    width: 100%;
    padding-top: 3rem;
}
.hero-content{
    display:flex;
    justify-content: space-around;
}
.hero-left h2{
    font-size: 35px;
    font-weight: 700;
    padding-top: 30px;
}
.hero-left h3{
    font-size: 40px;
    font-weight: 800;
}
.hero-left p{
    color: #666363;
    font-size: 20px;
}
.hero-right{
    max-width: 50%;
    height: 600px;
    width:500px;
    
}
.hero-right img{
    height:500px;
    width:500px;
    border: 10px solid #666363;
    border-radius: 10px;
}