.about-me{
    display:flex;
    justify-content: space-around;
    gap: 30px;
    margin-inline:5%;
    margin-top: 30px;
}
.about-left{
    width:500px;
    height: 500px;
    transform: rotate(355);
}
.about-left img{
    width: 400px;
    height:400px;
    border: 10px solid #777;
    border-radius: 10px;
    transform: rotate(357);
}
.about-right h2{
    font-size: 30px;
    font-weight: 700;
}
.about-right p{
    color:#777;
    font-weight: 400;
    padding-bottom: 20px;
}
.about-btn-btn{
    display:flex;
    gap:20px;
}
.about-btn-btn button{
    border: none;
    padding: 10px 20px;
    background-color: rgb(15, 215, 250);
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}