.contact-form{
    max-width:600px;
    margin:auto;
    padding: 20px;
    border: 1px solid #212531;
    border-radius: 10px;
    margin-top: 3rem;

}
.contact-form h2{
    text-align: center;
    margin-bottom: 20px;
}
.contact-form p{
    text-align: center;
    margin-bottom: 20px;
    color: #777
}
.contact-form form div{
    margin-bottom: 15px;
}
.names{
    display:flex;
}
.contact-form form label{
    display:flex;
    margin-bottom: 5px;
    font-weight: bold;
}
.contact-form form input,
.contact-form form textarea{
    width: calc(50% -25px);
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    border:1px solid #212531;
    border-radius: 5px;
    background-color: transparent;
}
.contact-form form input[type="email"],
.contact-form form textarea{
    width:95%;
}
.contact-form form textarea{
    height:160px;
    resize:none;
}
.contact-form button{
    width: 100%;
    padding: 10px;
    background-color: #fff;
    color:#000;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
.contact-form button:hover{
 background-color: #777;
}