.footer{
    display:flex;
    flex-direction: column;
    gap:30px;
    padding:80px;
}
.footer_bottom{
    display:flex;
    justify-content: space-between;
}
.footer_left h2{
    font-size: 28px;
}
.socials{
    display:flex;
    gap:15px;
    margin-top: 10px;
}
.socials .social_icon{
    font-size: 20px;
}
footer_right ul{
    display:flex;
    gap:15px
}
footer_right ul li{
    font-size: 18px;
}
.footer .copy{
    text-align: center;
    font-size: 18px;
}