.work-list .work-header{
    text-align: center;
    font-size: 80px;
    font-weight: 500;
}

.work-container{
    display:flex;
    flex-direction: column;
    overflow-y: hidden;
    padding: 20px;
}

.work{
    background-color: #212531;
    display:flex;
    flex-direction: row;
    border-radius: 10px;
    margin: 10px 0;
    max-width:90%;
    height: 500px;
    overflow: hidden;
    padding: 10px;

}

.work-image{
    overflow: hidden;
    flex: 2
}

.work-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.work-content{
    flex:2;
    padding: 20px;
    padding-top: 60px;
    padding-left: 30px;
}
.work-content h2{
    margin: 0 0 10px;
    font-size: 38px;
    margin-top: 40px;
}
.work-content p{
    margin:0;
    font-size: 20px;
    color:#666;
}
.work-link{
    display: flex;
    gap:20px;
}
.work-link a{
    font-size: 44px;
    color: #ffffff;

}